body {
    font-family: "Courier New", sans-serif;
    text-align: center;
}
.buttons {
    font-size: 4em;
    display: flex;
    justify-content: center;
}
.button, .value {
    line-height: 1;
    padding: 2rem;
    margin: 2rem;
    border: medium solid;
    min-height: 1em;
    min-width: 1em;
}
.button {
    cursor: pointer;
    user-select: none;
}
.start_game_button {
    color: red;
    margin: 0.25rem;
    padding: 0.25rem;
    border: medium solid;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.plus {
    color: green;
}
.value {
    min-width: 2em;
}
.state {
    font-size: 2em;
}

.chessboard {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 50px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.moves {
    width: 240px;
    height: 240px;
    margin: 20px;
    border: 5px solid #333;
}
.brown {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #9c7d39;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.green {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #07f72f;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
