body {
    font-family: "Courier New", sans-serif;
    text-align: center;
}
.buttons {
    font-size: 1em;
    display: flex;
    justify-content: center;
}
.notification {
    font-size: 1em;
}
.state_box {
    color: rgb(38, 0, 255);
    border: medium solid;
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 80px;
    margin: 2rem;
    vertical-align:middle;
}
.button {
    line-height: 1;
    padding: 2rem;
    margin: 2rem;
    border: medium solid;
    cursor: pointer;
    user-select: none;
}
.start_game_button {
    color: red;
    border: medium solid;
    font-size: 2em;
    display: flex;
    justify-content: center;
    width: 240px;
    height: 80px;
    margin: 2rem;
}
.plus {
    color: green;
}
.value {
    min-width: 2em;
}
.state {
    font-size: 2em;
}

.chessboard {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 10px solid #333;
}
.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
    font-size:25px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    font-size:25px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.moves {
    width: 120px;
    height: 120px;
    margin: 20px;
    border: 5px solid #333;
}
.brown {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #9c7d39;
      font-size:20px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.green {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #07f72f;
    font-size:20px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
